@font-face {
  font-family: "Avenir";
  src: url("../../assets/_GlobalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf")
    format("Open Type Format");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/_GlobalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf")
    format("Open Type Format");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/_GlobalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf")
    format("Open Type Format");
  font-weight: 900;
  font-style: normal;
}
