@import "../../styles/partials/_fonts";
@import "../../styles/partials/mediaQuery";

.nav {
  font-family: "Avenir";
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  margin: 0 1rem;
  @include tablet {
    flex-direction: row;
    align-items: baseline;
    height: 5rem;
    margin: 1.25rem 1.5rem 0;
    justify-content: space-between;
  }
  @include desktop {
    width: 87vw;
  }
  &__logo-container {
    display: flex;
    align-items: center;
    height: 3rem;
    @include tablet {
      align-self: center;
      margin: 0 8.75rem 0 0;
    }
    @include desktop {
      width: 35vw;
    }
  }
  &__logo {
    height: 1.625rem;
    @include tablet {
      align-self: baseline;
    }
    @include desktop {
      margin: 0 22.0625rem 0 6.3125rem;
    }
  }
  &__search-container {
    width: 90vw;
    height: 2.8125rem;
    @include tablet {
      width: 31vw;
    }
  }
  &__search {
    font-family: "Avenir";
    width: 90vw;
    height: 2.8125rem;
    border: 1px solid #afafaf;
    border-radius: 0.25rem;
    background-image: url("../../assets/Icons/SVG/Icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0.625rem 0.625rem;
    padding: 0.75rem 1.25rem 0.75rem 2.5rem;
    @include tablet {
      width: 32vw;
    }
    @include desktop {
      width: 23vw;
    }
  }
  &__button-image-container {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: 3rem;
    @include tablet {
      width: 26vw;
    }
    @include desktop {
      width: 23vw;
    }
  }
  &__button {
    font-family: "Avenir";
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    height: 2.8125rem;
    width: 73vw;
    margin: 0.5rem 0 0 0;
    border: 0;
    border-radius: 0.25rem;
    background-color: #0095ff;
    color: #fafafa;
    @include tablet {
      margin: 0.5rem 0 0 1.5rem;
      width: 15.755vw;
    }
    @include desktop {
      width: 9vw;
    }
  }
  &__button:hover {
    background-color: #0065ad;
    transition: 0.2s;
    border: 0;
    cursor: pointer;
  }
  &__button-image {
    margin-right: 0.6rem;
  }
  &__image {
    margin: 0.5rem 0 0 0;
    width: 2.8125rem;
    height: 2.8125rem;
    border-radius: 1.5625rem;
  }
}
